[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[submodule]
    recurse = true
[url "ssh://git@"]
	insteadOf = https://
[url "git@github-personal:Dahep"]
	insteadOf = git@github.com:Dahep:
[user]
    name = Dahep
    email = d.herrmann.p@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIILpD04IBRSiF24odOFiHNGbDpebhRqu9j2erVBiQpmu
[includeIf "gitdir/i:~/workspace/addval/"]
    path = ~/.gitconfig-addval
