[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[init]
	defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[submodule]
    recurse = true
[user]
    name = DHerrmannP
    email = dherrmann@addval.cl
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKy1F9sIqzMx476TeXMGx/vBNh78aUO75/gkMGknkJXi
[url "git@github-personal:Dahep"]
	insteadOf = git@github.com:Dahep
[includeIf "hasconfig:remote.*.url:*:Dahep/*.git"]
    path = ~/.gitconfig-personal
